black
cachetools
click
flake8-isort
flake8
flynt
invoke
mock
packaging>=20.4
pytest
pytest-asyncio
pytest-cov
pytest-timeout
ujson>=4.2.0
uvloop
vulture>=2.3.0
wheel>=0.30.0
async-timeout>=4.0.3; python_version<"3.11.3"
