name: Publish tag to Pypi

on:
  release:
    types: [published]

permissions:
  contents: read  #  to fetch code (actions/checkout)

jobs:

  build_and_package:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dev tools
        run: |
          pip install '.[dev]'
          pip install twine wheel

      - name: Build package
        run: |
          python -m build -sw

      - name: Basic package test prior to upload
        run: |
          twine check dist/*

      - name: Publish to Pypi
        uses: pypa/gh-action-pypi-publish@release/v1
